            <!-- <div class="equipment-details" style="border-bottom: 2px solid var(--primary-color);">
                    <div class="detail-item">
                        <span class="detail-label">Tipo de Equipo:</span>
                        <span class="detail-value">
                            <%=datos.tipo%>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Número de Serie:</span>
                        <span class="detail-value">
                            <%=datos.serie%>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Marca:</span>
                        <span class="detail-value">
                            <%=datos.marca%>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Código de Inventario:</span>
                        <span class="detail-value">
                            <%=datos.idInventario%>
                        </span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Estado:</span>
                        <% if (datos.estado=='1' ) { %>
                            <% var estado2='Nuevo' %>
                                <% }else{ %>
                                    <% var estado2='Usado' %>
                                        <% } %>
                                            <span class="detail-value">
                                                <%= estado2 %>
                                            </span>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">Accesorios:</span>
                        <span class="detail-value">
                            <%=datos.accesorios%>
                        </span>
                    </div>
                </div> -->