<link rel="stylesheet" href="./../styles/navbar.css">
<header class="header">
    <a href="/inicio" class="logo">Quality Bolca</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <img src="./svg/menu.svg" id="menu-icon">
        <img src="./svg/x.svg" id="close-icon">
    </label>

    <nav class="navbar">
        <a class="tex" href="cursos" style="--i:0" class="link active">Cursos</a>
        <a class="tex" href="directorio" style="--i:1">Directorio</a>
        <a class="tex" href="subirCurso" style="--i:2">Subir cursos</a>
        <a class="tex" href="requisicion" style="--i:3">Requisicion</a>
    </nav>
</header>