    <div class="container">
        <div class="form-container">
            <div class="header">
                <div class="logo">
                    <!-- <img src="../img/Quality-BOLCA.png" alt="Logo BOLCA" width="150"> -->
                </div>
                <div class="title">
                    <h1>MIS SOLICITUDES DE SERVICIO</h1>
                </div>
                <div class="code-info">
                    <!-- <p>Código: QB-FR-A-16-03</p>
                    <p>Rev: 00</p>
                    <p>Fecha de emisión: 10-04-2023</p>
                    <p>Fecha de revisión: N/A</p> -->
                </div>
            </div>
            
            <div class="container">
                
            </div>
        </div>
    </div>