<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <input type="hidden" name="_csrf" id="csfrT" value='<%=csrfToken%>'>
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
</body>

<script>
    const form = document.querySelector('#form');
    const csfrT = document.getElementById('csfrT')
    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const fd = new FormData(this);
        console.log(form.get('file'));
        console.log(fd);
        
        
        const urlEncoded = new URLSearchParams(fd).toString();

        fetch('/agregar-imagen', {
            method: 'POST',
            body: urlEncoded,
            headers: {
                // 'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRF-Token': csfrT.value,
                _csrf: csfrT.value,
                '_csrf': csfrT.value,
                'csrfToken': csfrT.value,
                csrfToken: csfrT.value,
            }
        }).then(
            console.log(fd),
            console.log('Enviado')
        )
    })
</script>

</html>