<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
</head>
<body>
    <% let nombre = '../calidad/documentoscontrolados/' + documento %>
    <embed src='<%= nombre %>' type=""
    style="width: 100%; height: 90vh;">
</body>
</html>


<!-- www.qualitybocla.net/calidad/QB-FR -->