<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Requisicion de compra</title>
</head>

<header>
    <button class="btn btn-primary mt-3 ms-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII=" />
    </button>
    <%- include('partials/_navbar2'); %>
</header>

        <body style="background-color: #606060;">
            <nav></nav>
            <div class="container-md">

                <form class="row g-3 needs-validation" action="/admin/requisicion" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <!-- ----------------------------------------------Datos Generales------------------------------------------- -->
                    <h3 style="text-align: center;">REQUISICION DE COMPRA</h3>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Visualizar Rentabilidades
                          </button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Rentabilidades</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Gastos Directos</h5>
                                <p>Todo lo cotizable en bc</p>
                                <ul>
                                    <li>Casas, bodegas</li>
                                    <li>Cobro a cliente</li>
                                    <li>Documentacion de entrada</li>
                                    <li>Gastos de viaje personal operativo</li>
                                    <li>Httas, consumilbles, papeleria</li>
                                    <li>Inspectores</li>
                                    <li>Lonches</li>
                                    <li>Mobiliario propio del proyecto</li>
                                    <li>Telefonos, internet, laptops</li>
                                    <li>Transporte</li>
                                    <li>Uniformes, EPP</li>
            
                                </ul>
                                <h5>Gastos Indirectos Operativos</h5>
            
                                <ul>
                                    <li>Casas, bodegas</li>
                                    <li>Cobro a cliente</li>
                                    <li>Documentacion de entrada</li>
                                    <li>Gastos de viaje personal operativo</li>
                                    <li>Httas, consumilbles, papeleria</li>
                                    <li>Inspectores</li>
                                    <li>Lonches</li>
                                    <li>Mobiliario propio del proyecto</li>
                                    <li>Telefonos, internet, laptops</li>
                                    <li>Transporte</li>
                                    <li>Uniformes, EPP</li>
            
                                </ul>
                                <h5>Gastos Indirectos Administrativos</h5>
                                <p>Gastos Administrativos</p>
                                <ul>
                                    <li>Autos administrativos</li>
                                    <li>Gastos admon(comisiones, SGMM, honorarios)</li>
                                    <li>Mobiliario administrativo</li>
                                    <li>Nominas, captura, SC, Gastos, GCH, Regionales</li>
                                    <li>Oficina matriz y regionales</li>
                                    <li>Telefonos, internet, laptops</li>
                                    <li>Viajes Administrativos</li>
            
            
                                </ul>
            
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dropdown3">Responsable que Autoriza</label>
                            <select class="form-control" name="autoriza" id="dropdown3" required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="ana.rodriguez@qualitybolca.com">CALIDAD</option>
                                <option value="monica.rodriguez@qualitybolca.com">ATRACCION DE CAPITAL HUMANO</option>
                                <option value="enrique.valdez@qualitybolca.com">CAPITAL HUMANO</option>
                                <option value="veronica.perez@qualitybolca.com">CAPTURACION</option>
                                <option value="gariela.cadena@qualitybolca.com">COMPRAS</option>
                                <option value="isabel.castro@qualitybolca.com">FACTURACION Y COBRANZA</option>
                                <option value="laura.vieyra@qualitybolca.com">GASTOS</option>
                                <option value="gerardo.morales@qualitybolca.com.mx">LOGISTICA VEHICULAR</option>
                                <option value="omar.lujan@qualitybolca.com">LUJAN DAVALOS OMAR ALEJANDRO</option>
                                <option value="eduardo.begines@qualitybolca.com">OPERACIONES</option>
                                <option value="elias.osuna@qualitybolca.net">OSUNA RODRIGUEZ ELIAS</option>
                                <option value="lidia.medina@qualitybolca.com">SERVICIO AL CLIENTE</option>
                                <option value="info.sistemas@qualitybolca.com">TECNOLOGIAS DE LA INFORMACION</option>
                                <option value="gabriel.hong@qualitybolca.com">VENTAS</option>
                                <option value="laura.vieyra@qualitybolca.com">VIEYRA GONZALEZ LAURA SUSANA</option>
                                <option value="arturo.wong@qualitybolca.com">WONG CASTAÑEDA JOSE ARTURO</option>
                                <option value="mirna.wong@qualitybolca.com">WONG LOPEZ MIRNA IVETTE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="campoTexto2">Orden de Serv</label>
                            <input type="text" name="orden" class="form-control" maxlength="20" id="campoTexto2"
                                placeholder="Escribe aquí..." required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Rentabilidad:</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="rentabilidad" value="Gastos Directos"
                                required id="radioRentabilidad1">
                            <label class="form-check-label" for="radioRentabilidad1">Gastos Directos</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="rentabilidad"
                                value="Gastos Indirectos Operativos" required id="radioRentabilidad2">
                            <label class="form-check-label" for="radioRentabilidad2">Gastos Indirectos Operativos</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="rentabilidad" value="Gastos Indirectos"
                                required id="radioRentabilidad3">
                            <label class="form-check-label" for="radioRentabilidad3">Gastos Indirectos Administrativos</label>
                        </div>
                    </div>



                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dropdown1">Proceso</label>
                            <select class="form-control" name="proceso" id="dropdown1" required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="ADMINISTRACION Y FINANZAS">ADMINISTRACION Y FINANZAS</option>
                                <option value="COMERCIALIZACION Y VENTA">COMERCIALIZACION Y VENTAs</option>
                                <option value="CONTROL Y MEJORA DEL SERVICIO">CONTROL Y MEJORA DEL SERVICIO</option>
                                <option value="EJECUCION DEL SERVICIO">EJECUCION DEL SERVICIO</option>
                                <option value="GESTION DE CAPITAL HUMANO">GESTION DE CAPITAL HUMANO</option>
                                <option value="GESTION DE INFRAESTRUCTURA">GESTION DE INFRAESTRUCTURA</option>
                                <option value="PLANEACION DEL SERVICIO">PLANEACION DEL SERVICIO</option>
                                <option value="PLANEACION Y DIRECCION ESTRATEGICA">PLANEACION Y DIRECCION ESTRATEGICA
                                </option>
                                <option value="SISTEMA DE GESTION DE CALIDAD">SISTEMA DE GESTION DE CALIDAD</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="dropdown2">Departamento</label>
                        <select class="form-control" name="departamento" id="dropdown2" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dropdown4">Planta</label>
                            <select class="form-control" name="planta" id="dropdown4" required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <% for (const [key, datos] of Object.entries(resultadoPlanta)) { %>
                                    <option value="<%=datos.planta %>">
                                        <%=datos.planta %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label for="campoTexto">Asunto</label>
                        <input type="text" class="form-control" name="asunto" id="campoTexto"
                            placeholder="Escribe aquí..." required>
                    </div>
                    <div class="col-md-4">
                        <label for="dropdown5">Region</label>
                        <select class="form-control" name="region" id="dropdown5" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="AGUASCALIENTES">
                                AGUASCALIENTES
                            </option>
                            <option value="CD JUAREZ">
                                CD JUAREZ
                            </option>
                            <option value="CD VICTORIA">
                                CD VICTORIA
                            </option>
                            <option value="CELAYA">
                                CELAYA
                            </option>
                            <option value="CHIHUAHUA">
                                CHIHUAHUA
                            </option>
                            <option value="DURANGO">
                                DURANGO
                            </option>
                            <option value="FRESNILLO">
                                FRESNILLO
                            </option>
                            <option value="HONDA">
                                HONDA
                            </option>
                            <option value="IRAPUATO">
                                IRAPUATO
                            </option>
                            <option value="LEON">
                                LEON
                            </option>
                            <option value="LINARES">
                                LINARES
                            </option>
                            <option value="MEOQUI">
                                MEOQUI
                            </option>
                            <option value="MONTERREY">
                                MONTERREY
                            </option>
                            <option value="NUEVO LAREDO">
                                NUEVO LAREDO
                            </option>
                            <option value="OTROS">
                                OTROS
                            </option>
                            <option value="QUERETARO">
                                QUERETARO
                            </option>
                            <option value="REYNOSA">
                                REYNOSA
                            </option>
                            <option value="SALTILLO">
                                SALTILLO
                            </option>
                            <option value="SILAO">
                                SILAO
                            </option>
                            <option value="SLP">
                                SLP
                            </option>
                            <option value="TORREON">
                                TORREON
                            </option>
                            <option value="ZACATECAS">
                                ZACATECAS
                            </option>
                            <option value="ZAPATA">
                                ZAPATA
                            </option>
                        </select>
                    </div>

                    <!-- ----------------------------------------------Descripcion de la orden-------------------------------------------------- -->

                    <h4>Descripcion de la orden</h4>

                    <div class="col-md-4">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" maxlength="50" id="descripcion" placeholder="Descripción Detallada">
                    </div>
                    <div class="col-md-2">
                        <label for="numero">Unidad:</label>
                        <input type="number" min="1" maxlength="10" class="form-control" id="numero">
                    </div>
                    <div class="col-md-2">
                        <label for="texto1">Precio unitario con IVA:</label>
                        <input type="number" min="1" maxlength="10" class="form-control" id="texto1">
                    </div>
                    <div class="col-md-2">
                        <label for="texto2">Precio Total con IVA:</label>
                        <input type="text" class="form-control" id="texto2" readonly>
                    </div>
                    <div class="col-md-2">
                        <input type="button" id="btnAgregarFila" style="width: 100%; height: 100%;"
                            class="btn btn-outline-dark" value="Agregar">
                    </div>

                    <table class="table table-dark" id="tabla">
                        <thead>
                            <tr>
                                <th scope="col">Descripción Detallada</th>
                                <th scope="col">Unidad</th>
                                <th scope="col">Precio unitario con IVA</th>
                                <th scope="col">Precio Total con IVA</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div class="col-md-6">
                        <label for="fecha">Fecha de entrega requerida:</label>
                        <input type="date" min="23-10-2024" name="fechaEntrega" class="form-control" id="fecha"
                            required>
                    </div>

                    <div class="col-md-6">
                        <label for="total">Total:</label>
                        <input type="text" class="form-control" name="total" id="total" placeholder="Total" readonly>
                    </div>



                    <!-- -------------------------------------Justificaciones-------------------------------------------------- -->

                    <h3>Justificaciones</h3>
                    <div class="col-md-6">
                        <label for="floatingTextarea">Detallar situación actual</label>
                        <textarea class="form-control" name="situacionActual" placeholder="Detallar situación actual"
                            required id="floatingTextarea"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="floatingTextarea">Detallar espectativa</label>
                        <textarea class="form-control" name="detallesEspectativa" placeholder="Detallar espectativa" required
                            id="floatingTextarea"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="floatingTextarea">Comentarios adicionales</label>
                        <textarea class="form-control" name="comentariosAdicionales" placeholder="Comentarios adicionales" required
                            id="floatingTextarea"></textarea>
                    </div>

                    <div class="col-md-6">
                        <!-- <label for="formFile" class="form-label">Subir imagen</label>
                        <input class="form-control" name="imagen" type="file" id="formFile"> -->
                    </div>

                    <div>
                        <input class="form-control" id="hdescripcion" type="hidden" name="descripcion" readonly>
                    </div>

                    <!-- ------------------------------------------------------------------------ -->
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label for="descripcion">Tarjeta o cuenta:</label>
                        <input type="text" maxlength="18" name="noCuenta" minlength="16" class="form-control" id="descripcion" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Enviar Informacion</button>
                    </div>
                </form>
            </div>
        </body>
        <% if (mensaje) { %>
            <script>
                Swal.fire({
                    title: 'Enviado',
                    icon: 'success',
                    text: 'Informacion enviada con exito'
                })
            </script>
            <% }%>
        <script src="../scripts/admin/requisicion.js"></script>

</html>