<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.8.0/dist/css/coreui.min.css" rel="stylesheet"
        integrity="sha384-hbx3WW3VEnpFGfGaaDgwb9GZ5DxxQebbCzE/MHHkkH7RbRhEoI3aXxDAFxNnTGnt" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.8.0/dist/js/coreui.bundle.min.js"
        integrity="sha384-aUfnS+hkMBjwlmClHswy/heTcxNQGkwv2aZATR+O6N9AfSs9Q3a2BJZSlrMeg2sS"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<style>
    body {
        /* background: #1C1E26; */
        height: 100vh;
        display: flex;
    }

    .container_calendar {
        width: 400px;
        height: 550px;
        margin: 5% auto;
    }

    .body_calendar {
        width: 100%;
        height: 100%;
        /* background: white; */
        border-radius: 10%;
        /* outline: solid red; */
    }

    .container_weedays {
        width: 90%;
        height: 40px;
        /* background: #fa80725e; */
        display: flex;
        margin: 0px auto;
    }

    .container_weedays span {
        color: #506CF5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100%;
        line-height: 2.5;
    }

    #contenedor_calendarios {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .week_days_item {
        display: flex;
        /* background: firebrick; */
        margin: auto;
        width: calc(100% / 7);
        justify-content: center;
        cursor: pointer;
    }

    .week_days_item:hover {
        color: #506CF5;
    }

    .prev_days {
        opacity: 0.5;
    }

    .container_days {
        width: 90%;
        height: auto;
        /* background: darkcyan; */
        display: flex;
        flex-flow: row wrap;
        margin: 0px auto;
    }

    .container_days span {
        color: black;
        /* background: #000; */
        height: 20px;
        margin: 5px 0px;
        padding: 0px;
        font-family: Arial;
    }

    .container_days .today {
        display: flex;
    }

    .container_days .today:after {
        content: "";
        width: 19px;
        height: 19px;
        background: #506CF5;
        position: absolute;
        border-radius: 50%;
        border: 5px solid #506CF5;
        opacity: 0.6;
        margin: -5px 0px 0px 1px;
    }

    /*# sourceMappingURL=styles.css.map */
</style>

<header>
    <button class="btn btn-primary mt-3 ms-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#owscanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII=" />
    </button>
    <%- include('partials/_navbar2'); %>
</header>

<body>
    <div class="container" style="text-align: center;">
        <h2>Solicitud de vacaciones</h2>
        <h5 style="color: lightskyblue;">Oscar Arturo De luna Luján</h5>
        <h6>Dias restantes <p>10</p>
        </h6>
        <div class="container text-center" id="contenedor_calendarios">
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days1">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days2">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days3">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days4">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days5">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days6">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days7">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days8">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days9">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days10">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days11">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
            <div class="body_calendar" id="body_calendar">
                <h5 class="nombreMes"></h5>
                <div class="container_weedays">
                    <span class="week_days_item">D</span>
                    <span class="week_days_item">L</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">M</span>
                    <span class="week_days_item">J</span>
                    <span class="week_days_item">V</span>
                    <span class="week_days_item">S</span>
                </div>
                <div class="container_days" id="container_days12">
                    <span class="week_days_item item_day"></span>
                </div>
            </div>
        </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    let inputDias = document.getElementsByClassName('date-picker-input')
    const diasRestantes = 10
    let contadorV1 = 0;
    let contadorV2 = 1;
    function mostrarCal(opcion) {
        const calendario1 = document.getElementById('calendario1')
        const calendario2 = document.getElementById('calendario2')

        switch (opcion) {
            case 1:
                calendario1.hidden = false
                calendario2.hidden = true
                break;
            case 2:
                calendario1.hidden = true
                calendario2.hidden = false
                break;
            case 3:
                calendario1.hidden = false
                calendario2.hidden = false
                break;
        }
    }

    function clonarElemento(opcion) {
        let inputDias = document.getElementsByClassName('date-picker-input')
        const clon = document.getElementsByClassName('fechaDiv1')


        if (opcion == 1) {
            let clon1 = clon[0 + contadorV1].cloneNode(true)
            clon[0].appendChild(clon1)
            contadorV1++
        } else {
            let clon1 = clon[clon.length - 1].cloneNode(true)
            clon[clon.length - 1].appendChild(clon1)
        }
        contadorV2++
    }

    //input de fecha class = "date-picker-input"

    //input de fecha rango class = "date-picker-input"

</script>

<script>
    var now = new Date();
    var day = now.getDate();
    var month = now.getMonth();
    // var month = 3
    var fechaIngreso = month
    var currentMonth = month;
    var year = now.getFullYear();
    // var year = 2025;
 

    const nombreMes = document.getElementsByClassName('nombreMes')
    // const contenedorDias2 = document.getElementById('contenedorDias')

    const body_calendar2 = document.getElementsByClassName('body_calendar')

    var monthName = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
        "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    // const fechaIngreso = 4;
    var comodin = fechaIngreso
    for (let index = 0; index < 12; index++) {
        if (comodin > 11) {
            comodin = 0
        }

        const titulo = document.createElement('h5')
        titulo.textContent = monthName[comodin]
        nombreMes[index].appendChild(titulo)
        comodin++
    }



    // let year = 2025
    // console.log(year);
    

    //calcular los dias faltantes del año
    let DiasFaltantes = 0
    for (let index = 0; index < fechaIngreso; index++) {
        DiasFaltantes += getTotalDays(index)
    }

    
    let posicionMes = 0
    var year2 = year
    var year3 = year
    initCalender();

    function initCalender() {
        for (let i = startDay(month); i > 0; i--) {
            $("#container_days1").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 1); i > 0; i--) {
            $("#container_days2").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 2); i > 0; i--) {
            $("#container_days3").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 3); i > 0; i--) {
            $("#container_days4").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 4); i > 0; i--) {
            $("#container_days5").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 5); i > 0; i--) {
            $("#container_days6").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 6); i > 0; i--) {
            $("#container_days7").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 7); i > 0; i--) {
            $("#container_days8").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 8); i > 0; i--) {
            $("#container_days9").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 9); i > 0; i--) {
            $("#container_days10").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 10); i > 0; i--) {
            $("#container_days11").append
                (`<span class="week_days_item item_day prev_days">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
        for (let i = startDay(month + 11); i > 0; i--) {
            $("#container_days12").append
                (`<span class="week_days_item item_day prev_days ">${getTotalDays(month - 1) - (i - 1)}</span>`);
        }
    }
    var diasTotales = 1

    for (let i = 1; i <= getTotalDays(month); i++) {
        if(month > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days1").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 1); i++) {
        if(month + 1 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days2").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 2); i++) {
        if(month + 2 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days3").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 3); i++) {
        if(month + 3 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days4").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 4); i++) {
        if(month + 4 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days5").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 5); i++) {
        if(month + 5 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days6").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 6); i++) {
        if(month + 6 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days7").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 7); i++) {
        if(month + 7 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days8").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 8); i++) {
        if(month + 8 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days9").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 9); i++) {
        if(month + 9 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days10").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 10); i++) {
        if(month + 10 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days11").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }
    for (let i = 1; i <= getTotalDays(month + 11); i++) {
        if(month + 11 > 11){
            year3 = year + 1
        }else{
            year3 = year
        }
        $("#container_days12").append
            (`<span class="week_days_item item_day diasCalendario" onclick='seleccionarDia(${year3},${diasTotales})'>${i}</span>`);
        diasTotales++
    }


    const diasCalendario = document.getElementsByClassName('diasCalendario')
    let diassolicitados = []
    function seleccionarDia(numeroYear ,numberoDia) {
        if (diasCalendario[numberoDia - 1].style.backgroundColor == 'rgb(0, 133, 202)') {
            // diasCalendario[numberoDia].setAttribute('style', 'background-Color: rgb(248, 247, 255); color: black')
            diasCalendario[numberoDia - 1].removeAttribute('style')
        }else{
            diasCalendario[numberoDia - 1].setAttribute('style', 'background-Color: rgb(0, 133, 202); color: white')
        }
        eliminarNumero(numeroYear ,numberoDia - 1)
        console.log(diassolicitados);
        
        console.log(numeroYear, numberoDia - 1 + DiasFaltantes);
        // Obtener la fecha actual
        const today = new Date();

        // Crear una fecha para el inicio del año
        const startOfYear = new Date(today.getFullYear(), 0, 1);

        // Calcular la diferencia en milisegundos
        const diffInMilliseconds = today - startOfYear;

        // Convertir la diferencia a días
        const diffInDays = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));

        console.log(`Han transcurrido ${diffInDays} días desde el inicio del año.`);
    }

    // Función para eliminar un número del array si ya existe
function eliminarNumero(numeroYear ,numberoDia) {
    const anadir = (numberoDia + 1) + '' + (numeroYear)
    const anadir2 = parseInt(anadir)
    const index = diassolicitados.indexOf(anadir2);
    if (index !== -1) {
        diassolicitados.splice(index, 1);
    }else{
        diassolicitados.push(anadir2);
    }
}

    function startDay(month2) {
        if (month2<12) {
            console.log('mayor a 11' + month2);
                body_calendar2[posicionMes].setAttribute('style', 'background-color: rgba(109, 145, 180, 0.8);')
                posicionMes++
            } else {
                console.log('menor a 11' + (month2));
                body_calendar2[posicionMes].setAttribute('style', 'background-color: rgba(248, 247, 255, 0.8);')
                posicionMes++
            }
        if (month2 > 11) {
            year2 = year + 1
            month2 = month2 - 12
        }
        
        var start = new Date(year2, month2, 0);

        return ((start.getDate() - 1) === -1) ? 6 : start.getDay();
    }

    function leapMonth(c) {
        if (c) {
            return ((year + 1 % 400 === 0) || (year + 1 % 4 === 0) && (year + 1 % 100 !== 0));
        } else {
            return ((year % 400 === 0) || (year % 4 === 0) && (year % 100 !== 0));
        }
    }
    var bisiesto = false
    function getTotalDays(month2) {

        if (month2 > 11) {
            bisiesto = true
            month2 = month2 - 12
        }

        if (month2 === -1) month2 = 11;

        var numMonthReal = month2 + 1;



        if (numMonthReal == 1 || numMonthReal == 3 || numMonthReal == 5 || numMonthReal == 8 || numMonthReal == 7 || numMonthReal == 10 || numMonthReal == 12) {
            return 31;
        } else if (numMonthReal == 4 || numMonthReal == 6 || numMonthReal == 11
            || numMonthReal == 9) {
            return 30;
        } else {
            return leapMonth(bisiesto) ? 29 : 28;
        }
    }


    function convertirDiaEnFecha(diaDelAno, ano) {
    // Crear una fecha inicial en el primer día del año
    let fecha = new Date(ano, 0, 1);
    // Sumar los días especificados
    fecha.setDate(fecha.getDate() + diaDelAno - 1);
    
    // Obtener el día, mes y año de la fecha resultante
    let dia = fecha.getDate();
    let mes = fecha.getMonth() + 1; // Los meses en JavaScript son 0-indexados
    let anoResultante = fecha.getFullYear();
    
    return `${dia}/${mes}/${anoResultante}`;
}

// Ejemplo de uso
let resultado = convertirDiaEnFecha(35, 2025);
console.log(resultado); // Salida: "4/2/2025"

</script>

</html>




<!-- date-picker-input -->